<div class="container">
  <div class="row">

    <div class="col-6 p-3 text-center">
      <div *ngIf="!player1.isUser" class="card">
        <form (submit)="findUser(player1.username, 1)" class="card-body">
          <h4 class="card-title">Player 1</h4>
          <div *ngIf="!player1.isUser">
            <div class="form-group">
              <label for="">GitHub Username:</label>
              <input class="form-control" type="text" name="username" required [(ngModel)]="player1.username" #username="ngModel">
              <p class="alert alert-danger" *ngIf="player1.isUser===false">
                GitHub username does not exist. Try again.
              </p>
              <input type="submit" href="#" [disabled]="!username.valid" class="btn btn-primary my-3" value="Add User">
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="player1.isUser" class="card w-75 m-auto">
        <img class="card-img-top" [src]="player1.imgURL" [alt]="player1.username">
        <div class="card-body">
          <h4 class="card-title text-center">{{ player1.name }}</h4>
          <p class="card-text text-left"><strong>Bio: </strong>{{ player1.bio }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Location: </strong>{{ player1.location }}</li>
          <li class="list-group-item"><strong>Repos: </strong>{{ player1.public_repos }}</li>
          <li class="list-group-item"><strong>Date Joined: </strong>{{ player1.created_at | date }}</li>
        </ul>
        <div class="card-body">
          <a [href]="player1.html_url" target="_blank">{{ "@"+player1.login }}</a>
        </div>
      </div>

    </div>

    <div class="col-6 p-3 text-center">
      <div *ngIf="!player2.isUser" class="card">
        <form (submit)="findUser(player2.username, 2)" class="card-body">
          <h4 class="card-title">Player 2</h4>
          <div *ngIf="!player2.isUser">
            <div class="form-group">
              <label for="">GitHub Username:</label>
              <input class="form-control" type="text" name="username" required [(ngModel)]="player2.username" #username="ngModel">
              <p class="alert alert-danger" *ngIf="player2.isUser===false">
                GitHub username does not exist. Try again.
              </p>
              <input type="submit" href="#" [disabled]="!username.valid" class="btn btn-primary my-3" value="Add User">
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="player2.isUser" class="card w-75 m-auto">
        <img class="card-img-top" [src]="player2.imgURL" [alt]="player2.username">
        <div class="card-body">
          <h4 class="card-title text-center">{{ player2.name }}</h4>
          <p class="card-text text-left"><strong>Bio: </strong>{{ player2.bio }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Location: </strong>{{ player2.location }}</li>
          <li class="list-group-item"><strong>Repos: </strong>{{ player2.public_repos }}</li>
          <li class="list-group-item"><strong>Date Joined: </strong>{{ player2.created_at | date }}</li>
        </ul>
        <div class="card-body">
          <a [href]="player2.html_url" target="_blank">{{ "@"+player2.login }}</a>
        </div>
      </div>

    </div>

  </div>
</div>

<p class="text-center">
  <button class="btn btn-danger btn-lg" *ngIf="player1.isUser && player2.isUser" (click)="war()">
    WAR!
  </button>
</p>

<!-- <div class="battle">
    <div class="player">
      <div *ngIf="!player1.isUser">
        <h1>Player 1</h1>
        <form (submit)="findUser(player1.username, 1)">
          <p>
            GitHub Username:
            <input type="text" name="username" required [(ngModel)]="player1.username" #username="ngModel">
          </p>
          <p style="color:red;" *ngIf="player1.isUser===false">
            GitHub username does not exist. Try again.
          </p>
          <input type="submit" value="Add User" [disabled]="!username.valid">
        </form>
      </div>
      <div *ngIf="player1.isUser">
        <img src="{{player1.imgURL}}" alt="github avatar">
        <p>{{ player1.username }}</p>
      </div>
    </div>
    <div class="player">
      <div *ngIf="!player2.isUser">
        <h1>Player 2</h1>
        <form (submit)="findUser(player2.username, 2)">
          <p>
            GitHub Username:
            <input type="text" name="username" required [(ngModel)]="player2.username" #username="ngModel">
          </p>
          <p style="color:red;" *ngIf="player2.isUser===false">
            GitHub username does not exist. Try again.
          </p>
          <input type="submit" value="Add User" [disabled]="!username.valid">
        </form>
      </div>
      <div *ngIf="player2.isUser">
        <img src="{{player2.imgURL}}" alt="github avatar">
        <p>{{ player2.username }}</p>
      </div>
    </div>
  </div> -->